<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{background-color: blue}
</style>
</head>
<body>
<form action="#" th:action="@{/aadhar}" th:object="${user}" method="post" enctype="multipart/form-data">
<h1>hi shiva</h1>
	<label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="name">Aadhar Number</label>
    <input type="text" th:field="*{aadharnumber}" id="aadharnumber" placeholder="aadharnumber">
    <label for="name">image::</label>
    <input type="file" th:field="*{image}" id="image" >
    <input type="submit" value="Submit">   
</form>

</body>
</html>